@import url("https://fonts.googleapis.com/css2?family=Russo+One&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  /* background-color: #1c1d4355; */
}

:root {
  font-family: roboto, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  /* background-image: url(./assets/img/Gradient.svg); */
  background-color: #0a0a18;

  /* color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a,
button {
  font-family: "Russo One";
  font-weight: 500;
  /* color: #646cff;
  text-decoration: inherit; */
}

h1 {
  font-family: Russo One;
}
